.details-wrapper {
  max-width: 900px;
  margin: 20px auto;
  position: relative;
}

.details {
  ::ng-deep mwl-gauge {
    width: 150px;
    height: 150px;
    display: block;
    padding: 10px;

    .dial {
      stroke-width: 10;
    }

    .value {
      stroke-dasharray: none;
      stroke-width: 13;
    }

    .value-text {
      fill: #fff;
      font-weight: 700;
      font-size: 24px;
    }
  }

  .game-gauge {
    position: absolute;
    top: 50px;
    right: 0;

    &-label {
      font-size: 20px;
      color: #fff;
      position: relative;
      bottom: 60px;
    }
  }
}

.game {
  &-banner {
    height: 442px;
    overflow: hidden;

    &-img {
      width: 100%;
      filter: blur(1px);
    }
  }

  &-content {
    text-align: center;
    position: relative;
    top: -200px;
  }

  &-header {
    &-title {
      font-size: 70px;
      color: #fff;
      font-weight: 700;
      line-height: 70px;
      white-space: nowrap;
    }

    &-release-date {
      color: #fff;
      font-weight: 700;
    }

    &-genres {
      color: #fff;
      font-weight: 700;
    }
  }
}
